{% extends 'base.html.twig' %}

{% block title %}Cliente index{% endblock %}

{% block body %}
    <h1>Cliente index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Dt_nasc</th>
                <th>Genero</th>
                <th>Cep</th>
                <th>Rua</th>
                <th>Numero</th>
                <th>Compl</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Uf</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.dtNasc ? cliente.dtNasc|date('Y-m-d') : '' }}</td>
                <td>{{ cliente.genero }}</td>
                <td>{{ cliente.cep }}</td>
                <td>{{ cliente.rua }}</td>
                <td>{{ cliente.numero }}</td>
                <td>{{ cliente.compl }}</td>
                <td>{{ cliente.bairro }}</td>
                <td>{{ cliente.cidade }}</td>
                <td>{{ cliente.uf }}</td>
                <td>
                    <a href="{{ path('app_cliente_show', {'id': cliente.id}) }}">show</a>
                    <a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cliente_new') }}">Create new</a>
{% endblock %}
