{% extends 'base.html.twig' %}

{% block title %}Cliente{% endblock %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ cliente.nome }}</td>
            </tr>
            <tr>
                <th>Dt_nasc</th>
                <td>{{ cliente.dtNasc ? cliente.dtNasc|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Genero</th>
                <td>{{ cliente.genero }}</td>
            </tr>
            <tr>
                <th>Cep</th>
                <td>{{ cliente.cep }}</td>
            </tr>
            <tr>
                <th>Rua</th>
                <td>{{ cliente.rua }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ cliente.numero }}</td>
            </tr>
            <tr>
                <th>Compl</th>
                <td>{{ cliente.compl }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ cliente.bairro }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ cliente.cidade }}</td>
            </tr>
            <tr>
                <th>Uf</th>
                <td>{{ cliente.uf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_cliente_index') }}">back to list</a>

    <a href="{{ path('app_cliente_edit', {'id': cliente.id}) }}">edit</a>

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
